html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;    
}

#map {
  width: 150%;
  height: 80vh;
  position: relative;
}

#map svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

circle {
  fill: steelblue;
  fill-opacity: 0.95;
  stroke: white;
  stroke-width: 1;
  pointer-events: auto;
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
  in oklch,
  var(--color-departures) calc(100% * var(--departure-ratio)),
  var(--color-arrivals)
  );
  fill: var(--color);  
}

.legend {
  display: flex;
  gap: 10px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 15px;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 16px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.legend-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 6px; 
}

.swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: color-mix(
    in oklch,
    steelblue calc(100% * var(--departure-ratio)),
    darkorange
  );
  border: 1px solid #ccc;
}
